{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'user.css' %}">
    <script src="https://kit.fontawesome.com/9dca7ae98e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>
<body>
    <input type="checkbox" id="check" class="hide">
    <div class="container">
        <label for="check">
            <i class="fas fa-angle-left" id="arrow"></i>
        </label>
        <div class="imgbox"><img src="{% static 'logo.png' %}" alt=""></div>
        <ol class="navbar">
            
           <li><a href=""><img src="{% static 'profile.gif' %}" alt="profile" style="width:38px;height:38px;"><p style="margin-top:10px;">{{user.username}}</p></a><span>{{user.username}}</span></li>
           <li><a href=""><i class="fas fa-tv"></i><p>All Books</p></a><span>All Books</span></li>
           <li><a href="{% url 'all-book' %}"><i class="far fa-user"></i><p>Your Library</p></a><span>All Books</span></li>
           <li><a href="#"><i class="far fa-folder"></i><p>Favorite Book</p></a><span>Favorite Book</span></li>
           <li><a href="#"><i class="fas fa-tv"></i><p>Downloaded Book</p></a><span>Downloaded Book</span></li>
           <li><a href="#"><i class="fas fa-tv"></i><p>Contact</p></a><span>Contact</span></li>
           <li><a href="{% url 'setting' %}"><i class="fas fa-tv"></i><p>Setting</p></a><span>Setting</span></li>
           <li><a href="{% url 'logout' %}"><img src="{% static 'exit.png' %}" alt="exit" style="width:48px;height:48px;"><p style="margin-top:10px;">Logout</p></a><span>Logout</span></li>
        </ol>
    
        
        
    </div>
    {% block content %} 
    {% endblock %}
    
    
</body>
</html>